#contactList {
    // width: 90%;
    // margin: auto;

    .MRTableCustom .MuiTableContainer-root {
        max-height: calc(100vh - 290px) !important;
        min-height: calc(100vh - 290px) !important
    }
  

    .MRTableCustom {
        .css-192dx0w {
          display: none;
        }
        .MuiBox-root {
          left: 0 !important;
          top: 0 !important;
          align-items: center;
        }
      }
    
     .MuiTableContainer-root + .MuiBox-root > .MuiBox-root {
        flex-direction: row-reverse !important;
        padding: 0;
      }
    .editLink {
        color: var(--c-primary-color);
        cursor: pointer;
    }

    .editLink:hover {
        text-decoration: underline;
    }

    .actions svg {
        cursor: pointer;
    }

    .actionIcons {
        min-width: 21px;
        display: inline-block;
    }
}