.advert {
    color: var(--curatelyPurple);
}

.box1 {
    width: 150px;
    height: 37px;
    padding: 0.2px;
    margin-bottom: 15px;
    margin-right: 30px;
}

.publishjob {
    background-color: var(--curatelyPurple);
}