.ql-mergeField {
    width: 60px;
    margin-left: 10px;

    .ql-picker-item:before {
        content: attr(data-label);
    }

    .ql-picker-label:before {
        content: attr(data-label);
    }

    .ql-picker-label svg {
        display: none !important;
    }

    .ql-picker-label {
        border-color: white !important;
    }

    [class="ql-picker-item"][data-value="0"] {
        display: none !important;
    }

    .ql-picker-options {
        top: -200px !important;
        right: 0 !important;
        overflow: auto;
        height: 200px;
    }
}

.ql-toolbar {
    // position: absolute;
    // bottom: 0;
    // width: 100%;
    width: 100%;
    position: absolute;
    // bottom: -41px;
    // bottom: 9px;
    bottom: -30px;
    // transform: translateY(100%);
    padding: 13px 8px !important;
    background-color: var(--curatelyWhite) !important;
    z-index: 999 !important;
}

.text-editor {
    position: relative;
}

.ql-header .ql-picker-options {
    top: -222px !important;
}

.ql-color .ql-picker-options,
.ql-background .ql-picker-options,
.ql-align .ql-picker-options {
    top: -105px !important;
}

.text-editor {
    margin-bottom: 12px;

    .quill {
        // margin-bottom: 61px !important;
        position: relative;
    }

    .ql-container {
        border: 1px solid #ccc !important;
        // margin-bottom: -10px;
        border-radius: 4px 4px 0 0;
    }

    .ql-editor {
        height: 210px !important;
        min-height: 210px !important;
        overflow: auto;
        width: 100%;
        margin-bottom: 10px;
        background-color: var(--curatelyWhite);
    }
}

.MuiIconButton-root.Mui-disabled {
    opacity: 0.3;
}

.dynamicVariables {
    height: 320px;
    overflow: auto;

    .categoryName {
        font-size: 11px;
        font-weight: 600;
        padding: 8px;
        color: var(--c-text-secondary) !important;
        background-color: var(--c-neutral-30);
    }

    .fieldName {
        display: flex;
        justify-content: space-between;
        padding: 8px;
        border-bottom: 1px solid var(--c-neutral-40) !important;
        background-color: var(--curatelyWhite);

        .viewFieldName {
            cursor: pointer;
            font-size: 12px;
            font-weight: 600;
            color: var(--c-primary-50);
        }

        .columnValue {
            font-size: 12px;
            color: var(--c-neutral-70);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            max-width: 45%;
        }
    }

    .fieldName:hover {
        background-color: var(--curatelyLightGrey);
    }

    // .fieldName:not(:last-child) {}

}