#SelectedFilters {


    .MuiAccordionSummary-content.Mui-expanded {
        margin: 0px;
    }

    .MuiAccordionSummary-content p {
        font-size: 14px;
        font-weight: 500;
        text-transform: capitalize;
        color: var(--c-text-labels);
    }

    .MuiAccordionSummary-root.Mui-expanded {
        height: 30px;
    }

    .MuiAccordion-root {
        margin: 0px 0;
        border-radius: 4px;
        box-shadow: var(--shadow-1);
    }

    .MuiAccordion-root:before {
        display: none;
    }


    .MuiAccordion-root.Mui-expanded {
        margin: 1px 0;
    }

    .MuiDialogContent-root {
        background-color: var(--c-neutral-10);
    }

    .MuiAccordion-region {
        .MuiGrid-item {
            padding-top: 1px;
        }
    }

}