.header {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        color: var(--c-text-primary);   
}
.jobPanelDiv {
        overflow: auto;
        padding: 20px 50px;
    }