#ContactFilters {
    .accordian-wrap {
        width: 100%;
        border: 1px solid #f0f0f0;

        .MuiAccordionSummary-root {
            align-items: baseline;
        }

        .heading {
            padding: 5px;

            h5 {
                font-family: "Segoe UI";
                font-weight: 600;
                font-size: 16px;
                color: rgb(71, 71, 71);
                padding-left: 8px;
            }

            button {
                margin: 0px;
                line-height: 1.5;
                letter-spacing: 0.00938em;
                color: var(--c-primary-color);
                font-weight: 600;
                font-size: 12px;
            }
        }

        .MuiAccordion-root {
            box-shadow: none;
            border: 1px solid transparent;

            &::before {
                background-color: #f0f0f0;
            }

            .MuiAccordionSummary-expandIconWrapper {
                color: var(--c-text-placeholder);
            }

            &.Mui-expanded {
                border: 1px solid var(--c-primary-color);
                z-index: 999;

                .MuiAccordionSummary-expandIconWrapper {
                    color: var(--c-primary-color);
                }
            }


            .acc-title {
                align-items: center;
                width: 100%;
                padding-right: 10px;

                .title-icon {
                    width: 1rem;
                    height: 1rem;
                    color: var(--c-text-header);
                    margin-right: 8px;
                }

                p {
                    color: var(--c-text-header);
                    font-size: 14px;
                    font-weight: 600;
                }
            }

            .MuiButtonBase-root {

                &:hover,
                &.Mui-expanded {
                    .acc-title {

                        .MuiSvgIcon-root,
                        p {
                            color: var(--c-primary-color);
                        }
                    }
                }
            }

            .MuiInputBase-formControl,
            .MuiInputBase-root {
                padding: 1px 6px;

                &:hover .MuiOutlinedInput-notchedOutline {
                    border-color: var(--c-primary-color);
                }

                &.Mui-focused fieldset {
                    border-width: 1px;
                }

                .MuiSelect-select,
                .MuiInputBase-input {
                    padding: 8px 8px;
                }
            }

            .MuiAutocomplete-input,
            .MuiInputBase-input,
            textarea {
                &::placeholder {
                    font-weight: 600;
                    color: var(--c-text-placeholder);
                    opacity: 1;
                }
            }

            textarea {
                padding: 8px 8px;
                font: inherit;
                letter-spacing: inherit;
                margin: 0;
                display: block;
                width: 100%;
                border: 1px solid rgba(0, 0, 0, 0.23);
                border-radius: 4px;

                &:hover,
                &:focus,
                &:focus-visible {
                    border-color: var(--c-primary-color);
                    border-width: 1px;
                    outline: none;
                }
            }


        }
    }

    .custom-paper {
        & .MuiAutocomplete-option {
            font-weight: 600;
        }
    }

    .clearStack {
        align-items: center;
        padding: 2px 10px;
        gap: 8px;
        width: 58px;
        height: 26px;
        border: 1px solid var(--c-border-normal);
        border-radius: 30px;

        &:hover {
            cursor: pointer;
            background-color: var(--curatelyWhite);
            border-color: var(--c-primary-color);
        }

        .MuiSvgIcon-root {
            color: #737373;
            font-size: medium;
        }

        .MuiTypography-root {
            font-family: "Segoe UI";
            font-size: 12px !important;
            font-weight: 600;
        }
    }


    .filterListTab {
        max-height: calc(100vh - 203px) !important;
        min-height: calc(100vh - 193px) !important;
        overflow: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .filterBtnWrap {
        width: 100%;
        padding: 10px;
        position: relative;
        bottom: 0px;
        left: 0px;
        box-shadow: rgba(0, 0, 0, 0.12) 0px -5px 12px;

        button {
            font-weight: 500;
            font-size: 1rem;
            line-height: 1.75;
            letter-spacing: 0.02857em;
            width: 100%;
            padding: 6px 16px;
            border-radius: 4px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
            color: rgb(255, 255, 255);
            box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
            background-color: var(--c-primary-color);
            text-transform: capitalize;

            &:hover {
                background-color: var(--c-primary-color);
                box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
            }
        }
    }
}