#addApplicants {
.css-r2nb2t-MuiButtonBase-root-MuiToggleButton-root {
    padding-left:6px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right:6px;
    }
    .enter {
        color:orange;
    }
}
