.textarea {
    border: 1px solid var(--c-neutral-50);
    width: 100%;
    max-width: 3000px;
    height: 10vh;
    margin-top: 5px;
}
.invite{
    width: 100%;
    background-color:var(--curatelyPurple);
    color:var(--curatelyWhite);
    border:none;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-top: 20px;
}



