.sideMenu {

    .MuiListItem-root {
        padding: 2px 30px;
    }

    .MuiTypography-root {
        font-weight: 500;
    }

    .header {
        .MuiTypography-root {
            font-weight: 600;
            color: #212529;
        }
    }
}