#canApplicants {
    .applicantsFilterHead {
        position: relative;
        padding: 10px 12px;

        &::after {
            content: '';
            position: absolute;
            height: 1px;
            background-color: var(--c-primary-color);
            width: 92px;
            bottom: 0;
            left: 12px;
        }

        .hello {
            background-color: red;
        }

        svg {
            color: var(--c-primary-color);
        }

        h5 {
            color: var(--c-primary-color);
            margin-left: 4px;
            line-height: 1.5;
            font-weight: 600;
            font-size: 14px;
        }
    }

    .MRTableCustom .MuiTableContainer-root {
        max-height: calc(100vh - 240px);
        overflow: auto;
        max-width: 100%;
        min-height: calc(100vh - 240px);
    }


    .MRTableCustom td span,
    .MRTableCustom td {
        text-transform: capitalize;
    }

    [aria-label="Show/Hide search"] {
        display: none !important;
    }

    .MRTableCustom {
        .css-192dx0w {
            display: none;
        }

        .MuiBox-root {
            left: 0 !important;
            top: 0 !important;
            align-items: center;
        }

        .MuiTableBody-root {
            .MuiTableRow-root {

                &:first-child {
                    .MuiTableCell-root {
                        border-top: none !important
                    }
                }

                &:last-child {
                    .MuiTableCell-root {
                        border-bottom: 1px solid rgba(224, 224, 224, 1) !important;
                    }
                }

                .MuiTableCell-root {
                    border-top: 1px solid rgba(224, 224, 224, 1);
                    border-bottom: none !important;
                }
            }
        }
    }




    .MuiTableContainer-root+.MuiBox-root>.MuiBox-root {
        flex-direction: row-reverse !important;
        padding: 0;
    }

    .MuiTableContainer-root+.MuiToolbar-root {
        border: 1px solid rgb(192, 192, 192);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        min-height: 40px;


        .MuiBox-root>.MuiBox-root {
            left: 0;
            right: auto;


            .MuiToolbar-root.MuiTablePagination-toolbar {
                padding-left: 0;
                min-height: 40px;
            }
        }
    }

    .selectedFilterChips {
        .MuiButtonBase-root.MuiChip-root {
            height: 28px;
            margin-right: 4px;
        }
    }

    .customSorting {
        padding-top: 5px;
        padding-bottom: 5px;

        .MuiButtonBase-root {
            text-transform: initial;
            font-size: 13px;
            padding: 3px 6px;
        }

        .MuiButton-startIcon {
            svg[data-testid="SouthRoundedIcon"] {
                font-size: 15px;
                margin-top: 1px;
                margin-right: -3px;
            }

            svg[data-testid="MenuIcon"] {
                font-size: 16px;
            }

            .flip {
                transform: scaleY(-1);
            }
        }

    }
}