
.accordingBG1 {
    background-color: #E3A5C7;
}

.accordingBG2 {
    background-color: #B692C2;
}

.accordingBG3 {
    background-color: #694F8E;
}

.accordingBG4 {
    background-color: #508C9B;
}

.lableText{
    font-size: 11px;
    font-weight: 600;
}
.css-19770ix-MuiInputBase-root .MuiInputBase-input {
    width: 100%;
}
.lableList{
    border-radius: 4px;
    position: relative;
    background-color: #F3F6F9;
    border: 1px solid;
    border-color: #E0E3E7;
    padding: 10px 12px;
}
#nested-list-subheader{
    padding-left: 0;
}