#ViewVoiceAICandidateModal
{
    border-radius: 20px;
    margin: 20px; 
 

    .ScreeningView{
        margin: 60px 10px;  
        padding: 2rem 1rem; 
        border:2px solid #555; 
        border-radius: 25px; 
        background-color: var(--c-neutral-10);
    }

}