#changepassword {
    .inputLabel {
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
        color: var(--c-text-labels);
        margin-bottom: 0;
        margin-top: 0;
    }
}