.AddCandidateModal {
    //   width: 656px;
    //   margin: 10px auto;
    //   background-color: var(--curatelyWhite);
    //   box-shadow: var(--shadow-1);
    //   border-radius: 4px;

    .header {
        padding: 12px 20px;

        h4 {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: var(--c-text-header);
        }
    }

    .form-block {
        border-top: 1px solid var(--c-border-light);

        &.disabled {
            .sub-heading {
                color: var(--c-text-header);
            }
        }

        .sub-heading {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            color: var(--c-primary-color);
            background-color: var(--c-bg-secondary);
        }

        .block-inner {
            padding: 12px 20px 20px;
        }

        .form-wrap {
            margin-bottom: 16px;
        }

        .input-label {
            font-size: 12px;
            font-weight: 600;
            line-height: 14px;
            color: var(--c-text-header);
            margin-bottom: 5px;
        }

        .input-info {
            font-size: 12px;
            margin-bottom: 5px;
            display: block;
        }

        .MuiInputBase-inputSizeSmall {
            //   padding: 5px 14px;

            &::placeholder {
                font-weight: 600;
                color: var(--c-text-placeholder);
                opacity: 1;
            }

        }

        .MuiInputBase-root {
            &:hover {
                fieldset {
                    border-color: var(--c-primary-color);
                }
            }

            &.Mui-focused fieldset {
                border-width: 1px;
            }
        }

    }

    .candidateTabsPanel {
        width: 565px;
        height: 265px;
    }

    .customDropZone {

        .container {
            display: flex;
            flex-direction: column;
            font-family: sans-serif;
        }

        .container>p {
            font-size: 1rem;
        }

        .container>em {
            font-size: .8rem;
        }

        .dropzone {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            border-width: 2px;
            border-radius: 2px;
            border-color: #eeeeee;
            border-style: dashed;
            background-color: #fafafa;
            color: #bdbdbd;
            outline: none;
            transition: border .24s ease-in-out;

            &.fileDroped {
                color: var(--c-text-primary);
            }
        }

        .dropzone:focus {
            border-color: #2196f3;
        }

        .dropzone.disabled {
            opacity: 0.6;
        }
    }
}