#ApplicantsListView {
    .customCard {
        margin-bottom: 10px;
    }

    .MuiTableContainer-root {
        max-height: calc(100vh - 235px) !important;
        min-height: calc(100vh - 235px) !important;
    }

    .p-dialog-content {
        padding-bottom: 0 !important;
    }

    .applicantsListViewHeader {
        top: 0;
        position: fixed;
        width: 80vw;
        z-index: 999;
        box-shadow: none;
        background-color: var(--c-neutral-10);
        border-bottom: 1px solid var(--c-neutral-40);
        padding: 5px 10px;

        .MuiTypography-root {
            color: var(--c-neutral-80);
            font-weight: 600;
            font-size: 14px;
        }
    }
}