.AIFormView {
    width: 98%;
    height: calc(100% - 50px);
    max-height: 98%;
    max-width: 1280px;
    z-index: 1050;
    //  background-color: #484646 !important;

    padding: 5px 5px;
    font-size: 14px;

    .headermagicwand {
        font-style: italic;
    }
    .ansColor{
        color: #1fe53d;
        font-weight: 600;
    }
    .titlesize {
        font-size: 14px;
    }

    .butWidth {
        width: 12px;
        margin: 0px 2px;
    }

    .Mui-expanded .MuiAccordionSummary-gutters {
        padding: 0px 8px;
    }

    .MuiAccordionSummary-root {
        align-items: baseline;
        padding: 0px 8px;
    }

    .MuiFormControlLabel-root {
        width: 30px;
        vertical-align: top;
    }

    .MuiAccordionSummary-content {
        padding: 0px 1px;
    }

    .heading {
        padding: 5px;

        h5 {
            font-family: "Segoe UI";
            font-weight: 600;
            font-size: 16px;
            color: rgb(71, 71, 71);
            padding-left: 8px;
        }

        button {
            margin: 0px;
            line-height: 1.5;
            letter-spacing: 0.00938em;
            color: var(--c-primary-color);
            font-weight: 600;
            font-size: 12px;
        }
    }

    .MuiAccordion-root {
        box-shadow: none;
        border: 1px solid #ccc;

        &::before {
            background-color: #f0f0f0;
        }

        .MuiAccordionSummary-expandIconWrapper {
            color: var(--c-text-placeholder);
        }

        &.Mui-expanded {
            border: 1px solid var(--c-primary-color);
            z-index: 999;

            .MuiAccordionSummary-expandIconWrapper {
                color: var(--c-primary-color);
            }
        }


        .acc-title {
            align-items: center;
            width: 100%;
            padding-right: 10px;

            .title-icon {
                width: 1rem;
                height: 1rem;
                color: var(--c-text-header);
                margin-right: 8px;
            }

            p {
                color: var(--c-text-header);
                font-size: 14px;
                font-weight: 600;
            }
        }

        .MuiButtonBase-root {

            &:hover,
            &.Mui-expanded {
                .acc-title {

                    .MuiSvgIcon-root,
                    p {
                        color: var(--c-primary-color);
                    }
                }
            }
        }

        .MuiInputBase-formControl,
        .MuiInputBase-root {
            padding: 1px 6px;

            &:hover .MuiOutlinedInput-notchedOutline {
                border-color: var(--c-primary-color);
            }

            &.Mui-focused fieldset {
                border-width: 1px;
            }

            .MuiSelect-select,
            .MuiInputBase-input {
                padding: 8px 8px;
            }
        }


    }


}