.universalSearch {
    background-color: var(--c-neutral-10);
    padding: 10px 30px;

    .MuiAccordion-root {
        background-color: var(--c-neutral-10);

    }

    // .MuiToolbar-root {
    //     display: none !important;
    // }

    .MuiTableContainer-root {
        max-height: none !important;
        min-height: auto !important;
        background: #f7f7f7 !important;
        padding: 20px 40px;

        // table.MuiTable-root {
        //     width: 95% !important;
        //     margin: auto !important;
        // }
    }

    .MuiAccordion-root:before {
        display: none !important;
    }

    .MuiAccordionSummary-root {
        min-height: 40px !important;
        background-color: var(--c-neutral-0);
    }

    .MuiAccordionSummary-content {
        margin: 10px 0 !important;
    }

    .MuiAccordionDetails-root {
        padding: 0 !important;
    }

    .MRTableCustom .MuiToolbar-root {
        display: none !important;
    }

    .MRTableCustom {
        padding: 0 !important;
    }
}