#sourcedTabs {

    .showViewButton {
        text-transform: capitalize;
        font-weight: 600;
        width: 10rem;
    }

    .MRTableCustom {
        .MuiTableHead-root {
            .MuiTableRow-root {
                box-shadow: none !important;

                .MuiTableCell-root {
                    vertical-align: middle;

                    div,
                    p {
                        font-weight: 500 !important;
                        font-size: 13px !important;
                    }

                }
            }
        }
    }
}