#PipelineInsights {
    .pipeLine {
        width: 1264px;
        height: 264px;
    }

    .GroupBy {
        border: 1px solid rgb(232, 232, 232);
        cursor: pointer;
        width: 152px;
        height: 78px;
        padding: 5px;
    }
}