.inter {
    width: 1240px;
    height: 110px;
    border: 1px solid var(--curatelyBlack);
}

.fir {
    height: 60px;
    border: 1px solid var(--curatelyBlack);
    width: 180px;
    box-sizing: border-box;
    margin: 0px;

}

.vi {
    height: 50px;
    width: 180px;
    box-sizing: border-box;
    border: 1px solid var(--curatelyBlack);
    margin: 0px;

}