#nextActionDialogBox,
#internalSubDialogBox {

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            font-size: 16px;
            font-weight: 600;
            line-height: 20px;
            color: var(--c-text-primary);
        }
    }

    .actionCard {
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 20px 15px;
    }

    .input-label {
        font-size: 12px;
        font-weight: 600;
        line-height: 14px;
        color: var(--c-text-header);
        margin-bottom: 5px;
    }

    .callOutcome {

        &>.MuiFormControl-fullWidth {
            margin-top: 20px;
        }
    }

    .MuiInputBase-inputSizeSmall {
        font-size: 14px;
        font-weight: 500;
        color: var(--c-text-header);

        b {
            font-weight: 500;
        }

        &:hover {
            color: var(--c-primary-color);
        }

        &::placeholder {
            font-weight: 600;
            color: var(--c-text-placeholder);
            opacity: 1;
        }

        &.Mui-disabled {
            color: var(--c-text-header);
            -webkit-text-fill-color: var(--c-text-header);
        }
    }

    .MuiInputBase-root {
        &:hover {
            fieldset {
                border-color: var(--c-primary-color);
            }
        }

        &.Mui-focused fieldset {
            border-width: 1px;
        }
    }

    textarea {
        padding: 6px 14px;
        font-size: 14px;
        font-weight: 500;
        color: var(--c-text-header);
        border-width: 1px;
        border-color: rgba(0, 0, 0, 0.23);
        border-radius: 4px;

        &:hover {
            border-color: var(--c-primary-color);
        }

        &:focus-visible {
            outline: none;
        }
    }

    .MuiDialogActions-root {
        padding: 0px 20px 15px;
    }
}

.shortlistBar-jobIds-container {
    .MuiTypography-root {
        font-weight: 600;
        color: var(--c-text-header);
    }

    .MuiButton-text {
        text-transform: capitalize;
        padding: 0px;
        font-weight: 600;
        font-size: 14px;
        background: none;
        margin-top: -2.75px;

        .MuiButton-endIcon {
            margin-left: 2px !important;

            .MuiSvgIcon-root {
                font-size: 2rem !important;
            }
        }
    }

}
.shortListBarAccordion {
    .MuiAccordionSummary-content {
        margin: 0;
    }

    .MuiAccordionSummary-content.Mui-expanded {
        margin: 10px 0 !important;
    }
}


.jobData-container {
    .MuiPaper-root {
        border-radius: 8px;
        border: 1px solid #e6e6e6;
        max-height: 100%;
        overflow-y: auto;
        box-shadow: var(--shadow-1);

        .MuiMenuItem-root {
            border-bottom: 1px solid #e6e6e6;
            font-weight: 600;
            color: var(--c-neutral-80);
            text-transform: capitalize;
        }

        .MuiMenuItem-root:hover {
            color: var(--c-primary-color)
        }

        .MuiMenuItem-root:last-child {
            border-bottom: none !important;
        }

    }
}