.error-message {
  color: #f44336; 
  margin-top: 5px;
  font-size: 0.85rem; 
  font-style: italic;
}

.backGrayColor{
background-color: #f7f7f7;
padding: 7px;
}

.customList-container{
margin: 5px;
padding-bottom: 5px;
}

.headerlist-card{
//margin: 2px;
font-weight: bold;
// padding-bottom: 5px;
border:0px solid #333 ;
text-align: start;
}


.list-card{
 margin: 2px;
// padding-bottom: 5px;
border: 1px solid #333 ;
text-align: start;
}