#BaseModule {
    border: 0px solid #444;
    margin: 4px; 
    vertical-align: top;
    padding: 9px;
    font-size: 12px !important;
    background-color: #efefef;
    border-color: #89919a;
    color: #32363a;

.header{
    font-size: calc(10px + 2vmin);
  color: black;
  text-align: left;
}
Button{
    text-transform: capitalize;
}

}