.editGrid {
    min-height: 43px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: max-content;

    span {
        padding-top: 1px;
    }

    .editIcon {
        display: none;
    }

    .editIcon:hover {
        background-color: none !important;
    }
}


.editGrid:hover {
    padding-top: 0px;
    background-color: rgba(0, 105, 255, 0.067);

    .editIcon {
        display: inline-block !important;
    }
}