.advert {
    color: var(--curatelyPurple);
}

.inter {
    width: 1240px;
    height: 110px;
    border: 1px solid var(--curatelyBlack);
}

.box {
    background-color: lightgrey;
    width: 170px;
    height: 35px;
    padding-left: 4px;
    border: 1px solid var(--curatelyBlack);
    margin-bottom: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 12px;
}