.stageBody {
    .MuiListItemText-primary {
        color: #333333;
        font-weight: bold;
        font-size: 16px;
    }

    .MuiListItemText-secondary {
        color: #969696;
        font-size: 14px;
    }

    .body-header-btns {
        .MuiButton-root {
            text-transform: none;
            font-size: 14px;
        }

        .MuiButton-outlinedPrimary {
            color: #474747;
            border-color: #474747;
        }

        .MuiButton-outlinedPrimary:disabled {
            color: rgba(150, 150, 150, 0.5);
            border-color: rgba(150, 150, 150, 0.5);
            background-color: #f9f9f9;
        }

        .MuiButton-outlinedPrimary:hover,
        .MuiButton-outlinedPrimary:focus,
        .MuiButton-outlinedPrimary:active {
            color: #146ef6 !important;
            border-color: #146ef6 !important;
        }

        .regenerate-btn {
            color: #9747ff;
            border-color: #9747ff;
            background-color: #FFFFFF;
        }

        .regenerate-btn:hover,
        .regenerate-btn:focus,
        .regenerate-btn:active {
            color: #FFFFFF;
            background-color: #9747ff;
        }

        .regenerate-btn:disabled {
            color: rgba(151, 71, 255, 0.3);
            border-color: rgba(151, 71, 255, 0.3);
            background-color: #f9f9f9;
        }
    }

    .primaryDivider {
        border-color: #e6e6e6;
    }

    .secondaryDivider {
        padding-bottom: 4px;
        border-color: #f2f2f2;
    }

    .Ai-Campaign-select-templates {
        .MuiOutlinedInput-notchedOutline {
            border: none !important;
        }
    }

    .close-icon {
        color: #9daabf;
        cursor: pointer;
        font-size: 1.25rem;
    }

    .close-icon:hover {
        color: #dd422d;
    }

}

.manage-timing-menu {

    .MuiTypography-body1 {
        color: #7f7f7f;
        font-size: 14px;
        margin-bottom: 8px;
    }

    .MuiFormControl-root {
        // border: 1px solid #e6e9ee;
        border-color: #e6e9ee;
        border-radius: 4px;

        .MuiInputBase-root {
            padding: 0;
        }

        .MuiButton-root {
            min-width: 0px;
            padding: 6px 15px;
            background-color: #f5f7ff;
            color: #374458;
        }

        .MuiButton-textPrimary {
            border-radius: 4px 0px 0px 4px;
        }

        .MuiButton-textSecondary {
            border-radius: 0px 4px 4px 0px;
        }

        input {
            padding: 0px 10px;
            text-align: center;
            font-size: 16px !important;
        }
    }

    .MuiToggleButtonGroup-root {
        display: flex;
        gap: 5px;

        .MuiButtonBase-root {
            text-transform: none;
            min-width: 45px;
            font-size: 14px;
            padding: 5px 8px !important;
            font-size: 14px;
            border-radius: 4px;

            border-color: #ced4df;
            background-color: #f5f7ff;
            color: #2b3439;

        }

        .MuiButtonBase-root:not(.Mui-selected):hover {
            border-color: #146ef6;
            color: #146ef6;
        }

        .Mui-selected {
            background-color: #146ef6 !important;
            border: 1px solid #146ef6 !important;
            color: #FFFFFF !important;
        }
    }

}

.form-preview-container {
    .MuiBox-root {
        box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 3px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
        height: calc(100vh - 325px);
        max-height: 300px;
        overflow: auto;
        border-radius: 5px;
        padding: 8px;
        margin-top: 1.5rem;
    }

    .MuiTypography-body1 {
        font-weight: 600;
        font-size: 12px;
        color: #474747;

        .MuiTypography-caption {
            white-space: pre-wrap !important;
            font-weight: 500;
            font-size: 14px;
            color: var(--c-text-body);
        }
    }
}

.aicampaign-preview-dialog-divider {
    border-color: #e6e6e6;
}