.policies {

    .MRTableCustom .MuiTableContainer-root {
        max-height: calc(100vh - 275px);
        overflow: auto;
        max-width: 100%;
        min-height: calc(100vh - 275px);
    }


    .MRTableCustom td span,
    .MRTableCustom td {
        text-transform: capitalize;
    }

    // [aria-label="Show/Hide search"] {
    //     display: none !important;
    // }

    .MuiTableContainer-root+.MuiToolbar-root {
        border: 1px solid rgb(192, 192, 192);
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        min-height: 40px;

        .MuiBox-root>.MuiBox-root {
            left: 0;
            right: auto;

            .MuiToolbar-root.MuiTablePagination-toolbar {
                padding-left: 0;
                min-height: 40px;
            }
        }
    }
          .MRTableCustom {
              .css-192dx0w {
                  display: none;
              }
    
              .MuiBox-root {
                  left: 0 !important;
                  top: 0 !important;
                  align-items: center;
              }
          }
    
          .MuiTableContainer-root+.MuiBox-root>.MuiBox-root {
              flex-direction: row-reverse !important;
              padding: 0;
          }
}