.c-red {
  color: var(--curatelyRed) !important;
}

.c-lightRed {
  color: var(--curatelyLightRed) !important;
}

.c-blue {
  color: var(--curatelyBlue) !important;
}

.c-skyblue {
  color: var(--curatelySkyBlue) !important;
}

.c-paleBlue {
  color: var(--curatelyPaleBlue) !important;
}

.c-darkBlue {
  color: var(--curatelyDarkBlue) !important;
}

.c-purple {
  color: var(--curatelyPurple) !important;
}

.c-lightGreen {
  color: var(--curatelyLightGreen) !important;
}

.c-paleGreen {
  color: var(--curatelyPaleGreen) !important;
}

.c-green {
  color: var(--curatelyGreen) !important;
}

.c-lightOrange {
  color: var(--curatelyLightOrange) !important;
}

.c-orange {
  color: var(--curatelyOrange) !important;
}

.c-brown {
  color: var(--curatelyBrown) !important;
}

.c-darkGrey {
  color: var(--curatelyDarkGrey) !important;
}

.c-grey {
  color: var(--curatelyGrey) !important;
}

.c-paleGrey {
  color: var(--curatelyPaleGrey) !important;
}

.c-lightGrey {
  color: var(--curatelyLightGrey) !important;
}

.c-white {
  color: var(--curatelyWhite) !important;
}

.c-black {
  color: var(--curatelyBlack) !important;
}

.c-primary {
  color: var(--c-primary-color) !important;
}

.c-secondary {
  color: var(--c-secondary-color) !important;
}

.bg-red {
  background-color: var(--curatelyRed) !important;
}

.bg-lightRed {
  background-color: var(--curatelyLightRed) !important;
}

.bg-blue {
  background-color: var(--curatelyBlue) !important;
}

.bg-skyblue {
  background-color: var(--curatelySkyBlue) !important;
}

.bg-paleBlue {
  background-color: var(--curatelyPaleBlue) !important;
}

.bg-darkBlue {
  background-color: var(--curatelyDarkBlue) !important;
}

.bg-purple {
  background-color: var(--curatelyPurple) !important;
}

.bg-lightGreen {
  background-color: var(--curatelyLightGreen) !important;
}

.bg-paleGreen {
  background-color: var(--curatelyPaleGreen) !important;
}

.bg-green {
  background-color: var(--curatelyGreen) !important;
}

.bg-lightOrange {
  background-color: var(--curatelyLightOrange) !important;
}

.bg-orange {
  background-color: var(--curatelyOrange) !important;
}

.bg-brown {
  background-color: var(--curatelyBrown) !important;
}

.bg-darkGrey {
  background-color: var(--curatelyDarkGrey) !important;
}

.bg-grey {
  background-color: var(--curatelyGrey) !important;
}

.bg-paleGrey {
  background-color: var(--curatelyPaleGrey) !important;
}

.bg-lightGrey {
  background-color: var(--curatelyLightGrey) !important;
}

.bg-white {
  background-color: var(--curatelyWhite) !important;
}

.bg-black {
  background-color: var(--curatelyBlack) !important;
}

.bg-primary {
  background-color: var(--c-primary-color) !important;
}

.bg-secondary {
  background-color: var(--c-secondary-color) !important;
}


.blueGradient {
  background: -webkit-linear-gradient(bottom, rgb(17, 144, 243) 37%, rgb(43, 189, 247) 84%, rgb(48, 199, 247) 100%);
  background: -o-linear-gradient(bottom, rgb(17, 144, 243) 37%, rgb(43, 189, 247) 84%, rgb(48, 199, 247) 100%);
  background: -ms-linear-gradient(bottom, rgb(17, 144, 243) 37%, rgb(43, 189, 247) 84%, rgb(48, 199, 247) 100%);
  background: -moz-linear-gradient(bottom, rgb(17, 144, 243) 37%, rgb(43, 189, 247) 84%, rgb(48, 199, 247) 100%);
  background: linear-gradient(to top, rgb(17, 144, 243) 37%, rgb(43, 189, 247) 84%, rgb(48, 199, 247) 100%);
}

.purpleGradient {
  background: -webkit-linear-gradient(bottom, rgb(219, 135, 253) 0%, rgb(166, 96, 254) 83%, rgb(155, 88, 254) 100%);
  background: -o-linear-gradient(bottom, rgb(219, 135, 253) 0%, rgb(166, 96, 254) 83%, rgb(155, 88, 254) 100%);
  background: -ms-linear-gradient(bottom, rgb(219, 135, 253) 0%, rgb(166, 96, 254) 83%, rgb(155, 88, 254) 100%);
  background: -moz-linear-gradient(bottom, rgb(219, 135, 253) 0%, rgb(166, 96, 254) 83%, rgb(155, 88, 254) 100%);
  background: linear-gradient(to top, rgb(219, 135, 253) 0%, rgb(166, 96, 254) 83%, rgb(155, 88, 254) 100%);
}