/* ReferralProgram.css */
.container {
    max-width: 768px;
    padding: 16px;
    margin: 0 auto;
  }
  
  .header {
    margin: 16px 0;
  }

  .icon {
    color: blue;
  }
  
  .gmail {
    background-color:white;
    color:blue;
    border: 1px solid grey; 
    padding: 8px 16px;
    //border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .css-1t1w9qe-MuiStack-root>:not(style)~:not(style) {
    margin-left: 16px;
    margin-top: 6px;
}
 
  