.scheduling {
    .actionIcons svg {
        cursor: pointer;
    }

    .actionIcons svg {
        min-width: 21px;
        display: inline-block;
        margin-left: 16px;
        margin-top: 6px;
    }
}