.profile {
    .card {
        border-radius: 10px !important;
        box-shadow: 0 0 15px #deeef9;
        margin: 4px auto;
        box-sizing: border-box;
        padding: 5px;
        border: 1px solid rgba(0, 0, 0, .125);
        // height: 100px;
    }

    .sidebtns {
        border-radius: 20px;
    }

    .sidebtns1 {
        border-radius: 20px;
        margin-left: 233px;
        margin-top: 20px;
    }

    .name-text {
        font-size: 20px;
        font-weight: 600;
        color: var(--c-text-header);
        margin-bottom: 2px;
        margin-right: 5px;
        white-space: nowrap;
    }

    .header {
        margin-bottom: 10px;
        text-align: left !important;
        font-weight: 700 !important;
        font-size: 1.4em;
        padding: 20px;
    }

    .datepicker {
        width: 175px;
        margin-right: 15px;
    }

    .accord {
        align-items: end;
    }

    .iconstyle {
        color: #969eb5;
        font-style: normal;
        margin-bottom: 5px;
    }

    .skills {
        font-size: 15px;
        text-transform: capitalize;
    }

    .mainDetailsVerticalTabPanel {
        width: calc(100% - 165px);

        &>div {
            max-height: 460px;
            overflow: auto;
        }
    }

    .mainLabel {
        min-width: 105px;
    }

    .labelDiv {
        margin-right: 10px;
    }

    .valueLabel {
        display: block !important;
        word-wrap: break-word !important;
        white-space: normal !important;
        max-width: calc(100% - 110px);
    }

    .vertical-menu-item {
        color: var(--c-text-labels);
        align-items: flex-start !important;
        text-transform: none !important;
        font-size: 14px;
        min-width: 150px;
        width: 150px;
    }

    .vertical-menu-item.Mui-selected {
        color: var(--c-primary-color) !important;
    }

    .historyBlock {
        padding-bottom: 15px;

        h5 {
            font-size: 14px;
            font-weight: 600;
            line-height: 16px;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            width: 100%;
            color: var(--c-text-primary);
        }

        span {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            color: var(--c-text-secondary);
        }
    }
}