
.footer {
    display: flex;
    justify-content: flex-end;
    padding: 16px;
    width: 100%;
}


.footer__button-container {
    display: flex;
    align-items: center;
    gap: 8px;
}


.footer__button--save-run {
    width: 250px;
    max-width: 250px;
}

.footer__button--run {
    width: 250px;
    max-width: 250px;
}

.footer__button--cancel {
    display: none;
}


.d-none {
    display: none;
}