.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.company-name-card {
    background-color: var(--curatelySkyBlue);
    padding: 15px;
    width: 200px;
    color: var(--curatelyWhite);
}

.company-id-card {
    background-color: var(--curatelyPurple);
    padding: 15px;
    width: 200px;
    color: var(--curatelyWhite);
}

.header-card-heading {
    font-size: 8px;
}

.company-detail-heading {
    font-size: 18px;
    font-weight: 600;
}

.list-header-buttons {
    height: 35px;
}

.distribution-button {
    background-color: var(--curatelyPurple) !important;
}

.add-new-button {
    border-color: var(--curatelyLightGreen) !important;
    color: var(--curatelyLightGreen);
}

.popup-style {
    position: absolute as absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    // background-color: aqua;
    // border: 2px solid #000;
    // box-shadow: 24;
    padding: 4px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

}